<div class="col-md-9 menu-right">
  <div class="title">
    <h2 class="border-bottom">Đặc sản Việt Nam</h2>
  </div>
  <div class="row all-products">
    <% @products.each do |pr|%>
      <div class="col-md-4 mb-30px">
        <div class="card text-center my-2 px-0 d-flex align-items-center h-100">
          <%= link_to "product_detail/#{pr.id}", class: 'w-100 p-10px' do %>
            <%= cl_image_tag pr.photos.first.photo_url, class: 'w-100'%>
          <% end %>
          <div class="mt-auto">
            <%= link_to pr.name, "product_detail/#{pr.id}", class: 'card-name font-size-20px font-weight-700 mt-20px'%>
            <div class="price-css" style="text-decoration: line-through;"><span><%= number_with_delimiter(pr.price) %> vnd</span></div>
            <span class="dis-price"><%= number_with_delimiter(discount(pr))%> vnd</span>
            <div class="add-to-cart">
              <button class='btn-minus' onclick="decrement(<%= pr.id %>)">-</button>
              <input id='demoInput<%= pr.id %>' type='number' min='1' max='100' value='1' style= 'border: 1px solid #d9d9d9; text-align: center;'>
              <button class='btn-plus' onclick="increment(<%= pr.id %>)">+</button>
            </div>
            <div class="view my-10px">
              <button class="btn btn-add2cart" onclick="addToCart(<%= pr.id %>)" data-bs-toggle="modal" data-bs-target="#addToCartModal">Thêm vào giỏ hàng</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @products.size > 0 %>
    <div class="pagination mt-3">
      <%= render 'pagination', pagy: @pagy %>
    </div>
  <% else %>
    Chưa có sản phẩm nào. ^^
  <% end %>
</div>
