<%= simple_form_for @customer, url: url, method: method do |f| %>
  <div class="form-inputs mb-10px form-cms row">
    <div class="col-xxl-6">
      <div class="row">
        <div class="form-cms-input col-md-6">
          <label>Real Name</label>
          <%= f.input :real_name,
                      required: true, label: false,
                      input_html: { class: "form-control" } %>
        </div>
        <div class="form-cms-input col-md-6">
          <label>Birthday</label>
          <input class="form-control" value="<%= (Customer.find(params[:id]).dob.strftime("%d %b %Y")) %>">
        </div>

        <div class="pt-43px pr-20px col-xxl-12">
          <label>Address</label>
          <%= f.input :address,
                      required: true, label: false,
                      input_html: { class: "form-control" } %>
        </div>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row">
        <div class="form-cms-input col-md-6">
          <label>Email</label>
          <%= f.input :email,
                      required: true, label: false,
                      input_html: { class: "form-control" } %>
        </div>
        <div class="form-cms-input col-md-6">
          <label>Phone Number</label>
          <%= f.input :phone,
                      required: true, label: false,
                      input_html: { class: "form-control" } %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions d-none">
    <%= f.button :submit, "Save", class: "", id: "button-submit" %>
  </div>
<% end %>