<div class="card-body body-customers p-0">
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead class="bg-muted">
        <tr>
          <th scope="col" class="pl-38px">UID</th>
          <% if @class_sort%>
            <% if @class_sort == "username"%>
              <th scope="col">
                Username
                <%= link_to admins_customers_path(sort_contra: "username"), class:'sort-contra', remote: true do %>
                  <%= image_tag 'sort_contra.svg', class:"pb-5px"%>
                <% end %>
              </th>
              <th scope="col">
                Email
                <%= link_to admins_customers_path(sort: "email"), class: "email_sort", remote: true do %>
                  <%= image_tag 'sort_icon.svg', class:"pb-5px"%>
                <% end %>
              </th>
            <% else%>
              <th scope="col">
                Username
                <%= link_to admins_customers_path(sort: "username"), class: "username_sort", remote: true do %>
                  <%= image_tag 'sort_icon.svg', class:"pb-5px"%>
                <% end %>
              </th>
              <th scope="col">
                Email
                <%= link_to admins_customers_path(sort_contra: "email"), class:'sort-contra', remote: true do %>
                  <%= image_tag 'sort_contra.svg', class:"pb-5px"%>
                <% end %>
              </th>
            <% end%>
          <% else%>
            <th scope="col">
              Username
              <%= link_to admins_customers_path(sort: "username"), class: "username_sort", remote: true do %>
                <%= image_tag 'sort_icon.svg', class:"pb-5px"%>
              <% end %>
            </th>
            <th scope="col">
              Email
              <%= link_to admins_customers_path(sort: "email"), class: "email_sort", remote: true do %>
                <%= image_tag 'sort_icon.svg', class:"pb-5px"%>
              <% end %>
            </th>
          <% end%>
          <th scope="col">Phone number</th>
          <th scope="col">Shipping Address</th>
          <th scope="col" class="">Status</th>
          <th scope="col" class="width-100px pr-172px"></th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @customers.each do |customer| %>
          <tr style = "background-color: <%= i % 2 == 0? '#F9F9F9' : '' %> ">
            <% i += 1 %>
            <th scope="row" class="pl-38px"><%= 1000 + customer.id %></th>
            <td><%= customer.username %></td>
            <td><%= customer.email %></td>
            <td><%= customer.phone %></td>
            <td>
              <%= customer.address %>
            </td>
            <td>
              <% if customer.status == 'available' %>
                <%= 'Active' %>
              <% else %>
                <%= 'Inactive' %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_admins_customer_path(customer), class: 'admin-link' do %>
                <%= image_tag 'pencil_edit.svg'%>
              <% end %>
              <% unless current_administrator == customer %>
                <%= link_to admins_customer_path(customer), method: :DELETE, data: {confirm: "Are you sure?"}, class: 'admin-link color-red' do %>
                  <%= image_tag 'trash.svg'%>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
</div>