<div class="user-sign-up">
  <div class="container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "card p-5 bg-light"}) do |f| %>
      <div class="title text-center">
        <h1>SIGN UP</h1>
      </div>
      <div class="form-group">
        <label>Email</label>
        <%= f.input :email, label: false, required: true, autofocus: true, placeholder: "Email", class: "form-control"%>
      </div>

      <div class="form-group">
        <label>Real name</label>
        <%= f.input :real_name, label: false, required: true, placeholder: "Real name", class: "form-control"%>
      </div>

      <div class="form-group">
        <label>Phone number</label>
        <%= f.input :phone, label: false, required: true, placeholder: "Phone number", class: "form-control"%>
      </div>

      <div class="form-group">
        <label>Day of birth</label>
        <%= f.input :dob, as: :date, html5: true, label: false, required: true, placeholder: "Day of birth", class: "form-control"%>
      </div>


      <div class="form-group">
        <label for="password">Password</label>
        <%= f.input :password, required: true, label: false, placeholder: "Password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :confirm_password, class:"control-label" %><br>
        <%= f.input :password_confirmation, required: true, label: false, placeholder: "Confirm password", class: "form-control"%>
      </div>
      <button type="submit" class="btn btn-primary mt-2" style="height: 50px;font-size: 18px;" >Sign up<% f.button :submit %></button>
      <div style="text-align:center" class="mt-4">
        <p class="font-size-16px">Have an account? <%= link_to "Login", new_customer_session_path%></p>
      <div>
    <% end %>
  </div>
</div>