<div class="sign_in_form">
  <div class="container" >
    <div class="col-lg-5 col-md-7 col-12 m-auto">
      <div class="text-center mb-40px">
        <p class="mt-30px font-weight-700 font-size-22px">CHANGE PASSWORD</p>
      </div>
      <div class="">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div class="input-form">
            <%= f.input :password, label: false, required: true, autofocus: true, placeholder: "Password", class: "form-control mb-20px pl-0px font-size-14px", autocomplete: "new-password"%>
          </div>
          <div class="input-form my-20px">
            <%= f.input :password_confirmation, label: false, required: true, autofocus: true, placeholder: "Confirm Password", class: "form-control mb-20px pl-0px font-size-14px", autocomplete: "new-password"%>
          </div>
          <div class="remember mb-12px" id="intro_group">
            <div class="forgot-password d-inline-block" style="float:right">
              <%= link_to "Back to Log In", new_session_path(resource_name), class: "color-black text-decoration-none" %><br />
            </div>
          </div>
          <div class="form-actions input-form" style="width:529px; margin: 0 auto">
            <%= f.button :submit, "RESET", class: "btn btn-yellow color-white w-100 pl-0 font-weight-700", id: "button-submit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
