<div class="">
  <div class="card">
    <div class="card-header p-10px">
      <div class="d-flex" style="justify-content: space-between;">
        <div class="ml-28px">
          <%#= link_to 'Export', orders_export_path(format: :csv), class: 'btn btn-create'%>
        </div>
        <div class="search-tab mr-96px">
          <i class="fas fa-search search-icon"></i>
          <%= form_tag(admins_orders_path, method: 'get') do %>
            <%= text_field_tag(:search, params[:search], class:"form-control search-bar mt-5px pl-25px", placeholder: "Search" ) %>
          <% end%>
        </div>
      </div>
    </div>
    <div class="card-body body-orders p-0">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead class="bg-muted">
            <tr>
              <th scope="col" class="pl-38px">UID</th>
              <th scope="col">
                Billing Name
                <%= link_to admins_orders_path(sort: "billing_name"), class: "billing_name_sort", remote: true do %>
                  <%= image_tag 'sort_icon.svg', class:"pb-5px"%>
                <% end %>
              </th>
              <th scope="col">Details</th>
              <th scope="col">
                Date
                <%= link_to admins_orders_path(sort: "date"), class: "date_sort", remote: true do %>
                  <%= image_tag 'sort_icon.svg', class:"pb-5px"%>
                <% end %>
              </th>
              <th scope="col">Total</th>
              <th scope="col">Payment Method</th>
              <th scope="col">Payment Status</th>
              <th scope="col" class="width-100px pr-172px"></th>
            </tr>
          </thead>
          <tbody>
            <% i = 1 %>
            <% @orders.each do |order| %>
              <tr style = "background-color: <%= i % 2 == 0? '#F9F9F9' : '' %> ">
                <% i += 1 %>
                <th scope="row" class="pl-38px"><%= 1000 + order.id %></th>
                <td><%= Customer.find(order.customer_id).real_name %></td>
                <td><%= order.detail %></td>
                <td><%= order.created_at.strftime("%d %b %Y") %></td>
                <td><%= number_with_delimiter(order.total) %> vnd</td>
                <td>
                  <% if order.payment_method == 'cod' %>
                    COD
                  <% else %>
                    Transfers
                  <% end %>
                </td>
                <td><%= order.status.capitalize() %></td>
                <td>
                  <%= link_to edit_admins_order_path(order), class: 'admin-link' do %>
                    <%= image_tag 'pencil_edit.svg'%>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="paging">
        <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
      </div>
    </div>
  </div>
</div>
